{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vSphere Linux Client</title>
	<link href="{% static "css/main.css" %}" rel="stylesheet" media="all">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body link="black" alink="black" vlink="black">
<div class="upper-panel">
		<div class="menu-item" id="file-button">
			<span class="item-item">File</span>
			<ul class="menu-list">
				<li style="text-align: right; margin-left: 24px;"><a href="/auth/logout/">Exit</a></li>
			</ul>
		</div>
		<div class="menu-item" id="configuration-button">
			<span class="item-item">Configuration</span>
			<ul class="menu-list">
				<li class="menu-list-item" style="width: 96px; margin-left: 80px;">Networking<img src="{% static "img/next-menu-point.png" %}" id="image" style="margin-left: 25px; margin-bottom: 3px;">
					<ul class="menu-sublist" style="width: 128px; top: 0px;">
					  <li id="switch-manager">Virtual switch manager</li>
					</ul>
				</li>
				<li class="menu-list-item" style="width: 96px; margin-left: 80px;">Perfomance<img src="{% static "img/next-menu-point.png" %}" id="image" style="margin-left: 25px; margin-bottom: 3px;">
					<ul class="menu-sublist" style="text-align: left;">
					  <li id="cpu-use" style="margin-left: 3px;">CPU</li>
					  <li id="memory-use" style="margin-left: 3px;">Memory</li>
					  <li id="disk-use" style="margin-left: 3px;">Disk</li>
					  <li id="network-use" style="margin-left: 3px;">Network</li>
					</ul>
				</li>
			</ul>			
		</div>
		<form action="/vsphclient/addswitch/" method="addswitch" id="add-switch-form" name="Create Virtual Switch">
			{% csrf_token %}
			<label>Name</label>
			<p><input type="text" name="switch_name" class="input"></p>
			{% if empty_field %}
			<label class="label" style="color: red">{{ empty_field }}</label>
			{% endif %}
		</form>
		<div class="menu-item" id="topology-button">
			<span class="item-item">Topology</span>
			<ul class="menu-list">
				<li class="menu-list-item" style="width: 98px; margin-left: 56px;">Small office<img src="{% static "img/next-menu-point.png" %}" id="image" style="margin-left: 25px; margin-bottom: 3px;">
					<ul class="menu-sublist" style="top: 0px;">
					  <li id="topology-deploy" data-topology="Small Office" style="margin-left: 3px;">Deploy</li>
					</ul>
				</li>
			</ul>			
		</div>
		<form action="/vsphclient/deploy/" method="deploy" id="deploy-form" name="Deploy the configuration">
			{% csrf_token %}
			<label>Choose elements for deploying</label>
			<p><input type="checkbox" name="if_dhcp" value="1" class="input">DHCP Server</p>
			<p><input type="checkbox" name="if_dns" value="1" class="input">DNS Server</p>
			<p><input type="checkbox" name="if_file" value="1" class="input">File Server</p>
			{% if empty_field %}
			<label class="label" style="color: red">{{ empty_field }}</label>
			{% endif %}
		</form>
		<div class="menu-item">
			<span class="item-item">Help</span>
				<ul class="menu-list">
					<li style="text-align: right; width: 126px; margin-left: 32px;"">About VMware vSphere</li>
				</ul>
		</div>
	</div>
	<div class="navigation-panel">
		<a href="javascript:history.back()"><img src="{% static "img/back.png" %}" id="image"></a>
		<a href="javascript:history.forward()"><img src="{% static "img/forward.png" %}" id="image"></a>
		<div class="menu"><a href="/vsphclient/home/"><img src="{% static "img/home.png" %}" id="image">Home</a>
			{% block navigation %}
			{% endblock %}
		</div>
	</div>
	<div class="main-area">
		{% block main-area %}
		{% endblock %}
	</div>
	<div class="bottom-area"><div class="recent-tasks"><span style="font-weight: bold; font-size: 13px;">Recent tasks</span></div>
		{% block recent-tasks %}
		{% endblock %}	
	</div>
    <script src="{% static "js/main.js" %}"></script>
</body>
