{% extends 'base.html' %}
{% load staticfiles %}

{% block navigation %}
<img src="{% static "img/inventory-choise.png" %}" id="image">Inventory
<a href="/vsphclient/"><img src="{% static "img/inventory.png" %}" id="image">Inventory</a>
{% endblock %}

{% block main-area %}
<div class="vm-control-panel">
{% if group != 'Read-only' %}
	<span class="vm-state-stop"><img src="{% static "img/stop.png" %}" id="image"></span>
	<span class="vm-state-suspend"><img src="{% static "img/suspend.png" %}" id="image"></span>
	<span class="vm-state-start"><img src="{% static "img/start.png" %}" id="image"></span>
	<span class="vm-state-reset"><img src="{% static "img/reset.png" %}" id="image"></span>
	<div class="v-line"></div>
	<span class="take-snapshot"><img src="{% static "img/take-snapshot.png" %}" id="image"></span>
	<span class="revert-snapshot"><img src="{% static "img/revert-to-snapshot-active.png" %}" id="image"></span>
	<span class="manager-snapshot"><img src="{% static "img/snapshot-manager.png" %}" id="image"></span>
{% else %}
	<span class="vm-state"><img src="{% static "img/stop.png" %}" id="image"></span>
	<span class="vm-state"><img src="{% static "img/suspend.png" %}" id="image"></span>
	<span class="vm-state"><img src="{% static "img/start.png" %}" id="image"></span>
	<span class="vm-state"><img src="{% static "img/reset.png" %}" id="image"></span>
	<div class="v-line"></div>
	<span class="vm-state; take-snapshot"><img src="{% static "img/take-snapshot.png" %}" id="image"></span>
	{% if has_snapshot %}
		{% if "1" in has_snapshot %}
		<span class="vm-state"><img src="{% static "img/revert-to-snapshot-active.png" %}" id="image"></span>
		{% else %}
		<span class="vm-state"><img src="{% static "img/revert-to-snapshot-passive.png" %}" id="image"></span>
		{% endif %}
	{% else %}
		<span class="vm-state"><img src="{% static "img/revert-to-snapshot-active.png" %}" id="image"></span>
	{% endif %}
	<span class="vm-state"><img src="{% static "img/snapshot-manager.png" %}" id="image"></span>
{% endif %}
</div>

<form action="/vsphclient/takesnapshot/" method="takesnapshot" id="create-snapshot-form" name="Take Virtual Machine Snapshot">
	{% csrf_token %}
	<label>Name</label>
	<p><input type="text" name="snapshot_name" class="input"></p>
	<p><label>Description</label></p>
        <p><textarea name="snapshot_description"></textarea></p>
	{% if empty_field %}
	<label class="label" style="color: red">{{ empty_field }}</label>
	{% endif %}
</form>

<form action="/vsphclient/revertsnapshot/" method="revertsnapshot" id="revert-snapshot-form" name="Confirm">
	{% csrf_token %}
	<p><img src="{% static "img/alert.png" %}" id="image-alert">Current state of the Virtual Machine will be lost unless it has been saved in a snapshot. Revert to current (most recent) snapshot?</p>
</form>

<form action="/vsphclient/managersnapshot/" method="managersnapshot" id="manager-snapshot-form" name="Snapshots for Virtual Machine">
	{% csrf_token %}
	{% if has_snapshot %}
	<span class="snapshot-info"></span>
	{% endif %}
</form>

<div class="h-line"></div>
<div class="left-block">
	<a href="#" rel="nofollow" class="toggle-link" ><img src="{% static "img/host.png" %}" id="image">78.109.34.92</a>
	<div style="display:none;" class="toggle-content">
  		<div style="margin-left: 14px;">
			{% for key, value in virt_states.items %}
				{% if "Powered on" in value %}
    			<img src="{% static "img/vm-on.png" %}" id="image">
				{% endif %}
				{% if "Powered off" in value %}
				<img src="{% static "img/vm-off.png" %}" id="image">		
				{% endif %}		
				{% if "Suspend" in value %}
				<img src="{% static "img/vm-pause.png" %}" id="image">	
				{% endif %}
				{% for key1, value1 in virt_ids.items %}
					{% if key1 == key %}
						{% if group != "Read-only" %}
						<span class="item" data-vmid={{ value1 }} data-vmname={{ key }} data-vmstate="{{ value }}">{{ key }}</span><br>
						{% else %}
						<span class="item-readonly">{{ key }}</span><br>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
  		</div>
	</div>
</div>
<div class="right-block">
	<span style="display: inline-block; color: white; font-weight: bold; margin-left: 6px; margin-top: 6px;">localhost.localdomain VMware ESXi, 5.5.0</span>
	<div class="right-block-inside">
		{% if summary %}
		<div class="summary">
		<div class="summary-header"><span>Summary</span></div>
			<div class="summary-content">
				Guest OS:<span style="padding-left: 28px;">{{ summary.0 }}</span><br>
				VM Version:<span style="padding-left: 16px;">{{ summary.1 }}</span><br>
				CPU:<span style="padding-left: 54px;">1vCPU</span><br>
				Memory:<span style="padding-left: 32px;">{{ summary.2 }} MB</span><br><br>
				State:<span style="padding-left: 49px;">{{ machine_state }}</span><br><br>
				Storage:<span style="padding-left: 35px;">The Datastore</span><br>
				Network:<span style="padding-left: 31px;">{{ summary.3 }}</span></pre>
			</div>
		</div>
		{% else %}
			{% if switch_list %}
				<span class="add-switch">Add networking</span>
				<div class="switch-manager">
					<div class="switch-manager-header"><span>Virtual Switches</span></div>
					<div class="switch-manager-content">
						{% for i in switch_list %}
						{% if i == "" %}
						<pre style="margin-bottom: 10px;">{{ i }}</pre>
						{% endif %}
						<pre>{{ i }}</pre>
						{% endfor %}
					</div>					
				</div>
			{% else %}
				{% if cpu_use %}
				<div class="resource-use">
					<div class="resource-header"><span>CPU Usage</span></div>
					<div class="resource-content">
						{{ cpu_use }}
					</div>					
				</div>
				{% else %}
					{% if memory_use %}
						<div class="resource-use">
							<div class="resource-header"><span>Memory Usage</span></div>
							<div class="resource-content">
								{{ memory_use }}
							</div>					
						</div>
					{% else %}
						{% if disk_use %}
							<div class="resource-use">
								<div class="resource-header"><span>Disk Usage</span></div>
								<div class="resource-content">
									{{ disk_use }}
								</div>					
							</div>
						{% else %}
							{% if network_use %}
								<div class="resource-use">
									<div class="resource-header"><span>Network Usage</span></div>
									<div class="resource-content">
										{{ network_use }}
									</div>					
								</div>
							{% else %}
								<span style="display: inline-block; font-size: 15px; font-family: arial; margin-left: 15px; margin-top: 30px; display: inline-block;">
									<span style="font-weight: bold;">What is a Host?</span>
										<p style="margin-bottom: 6px;">A host is a computer that uses virtualization software, such 
										<br>as ESX or ESXi, to run virtual machines. Host provides the 
										<br>CPU and memory resources that virtual machines use and 
										<br>give virtual machine accsess to storage and network 
										<br>connectivity.</p>
										<p style="margin-top: 8px; margin-bottom: 6px;">Create you own scripts to automate you activity in host.</p>
									</span>
								<span style="margin-left: 40px;"><img src="{% static "img/scheme.png" %}" id="image"></span>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block recent-tasks %}
	<table cellspacing="0">
		<tr style="background-image: linear-gradient(to bottom, #c8c8c8, #f7f7f7)">
			<th style="border: 1px solid #c0c0c0; width: 250px;";>Name</th>
			<th style="border: 1px solid #c0c0c0; width: 200px;">Target</th>
			<th style="border: 1px solid #c0c0c0; width: 130px;">Status</th>
			<th style="border: 1px solid #c0c0c0; width: 160px;">Initiated by</th>
			<th style="border: 1px solid #c0c0c0">Completed time</th>
		</tr>
	</table>
<div class="operation-history" style="overflow: auto; height: 100px;">
	<table cellspacing="0">
		{% for i in operation_history %}
		<tr>
			<th style="width: 253px;"><img src="{% static "img/load.png" %}" id="image"><span style="padding-left: 7px;">{{ i.0 }}</span></th>
			<th style="width: 201px;">{{ i.1 }}</th>
			<th class="status" style="width: 133px;"><img src="{% static "img/complete.png" %}" id="image"><span style="padding-left: 4px;">Completed</span></th>
			<th style="width: 163px;">{{ i.2 }}</th>
			<th>{{ i.3 }}</th>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
