{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
{% endblock %}

{% block navigation %}
<img src="{% static "img/inventory-choise.png" %}" id="image">Inventory
<a href="/vsphclient/"><img src="{% static "img/inventory.png" %}" id="image">Inventory</a>
{% endblock %}

{% block main-area %}
<div class="vm-control-panel">
{% if group != 'Read-only' %}
<span class="vm-state-stop"><img src="{% static "img/stop.png" %}" id="image"></span>
<span class="vm-state-suspend"><img src="{% static "img/suspend.png" %}" id="image"></span>
<span class="vm-state-start"><img src="{% static "img/start.png" %}" id="image"></span>
<span class="vm-state-reset"><img src="{% static "img/reset.png" %}" id="image"></span>
{% else %}
<span class="vm-state"><img src="{% static "img/stop.png" %}" id="image"></span>
<span class="vm-state"><img src="{% static "img/suspend.png" %}" id="image"></span>
<span class="vm-state"><img src="{% static "img/start.png" %}" id="image"></span>
<span class="vm-state"><img src="{% static "img/reset.png" %}" id="image"></span>
{% endif %}
</div>

<div class="line"></div>
<div class="left-block">
	<a href="#" rel="nofollow" class="toggle-link" ><img src="{% static "img/host.png" %}" id="image">78.109.34.92</a>
	<div style="display:none;" class="toggle-content">
  		<div style="margin-left: 14px;">
			{% for key, value in virt_states.items %}
				{% if "Powered on" in value %}
    				<img src="{% static "img/vm-on.png" %}" id="image">
				{% else %}
	                        <img src="{% static "img/vm-off.png" %}" id="image">
				{% endif %}
				{% for key1, value1 in virt_ids.items %}
					{% if key1 == key %}
						{% if group != "Read-only" %}
						<span class="item" data-vmid={{ value1 }}>{{ key }}</span><br>
						{% else %}
						<span class="item-readonly">{{ key }}</span><br>
						{% endif %}
	                        	{% endif %}
                        	{% endfor %}
			{% endfor %}
  		</div>
	</div>
</div>
<div class="right-block">
	<span style="display: inline-block; color: white; font-weight: bold; margin-left: 6px; margin-top: 6px;">localhost.localdomain VMware ESXi, 5.5.0</span>
	<div class="right-block-inside">
		<span style="display: inline-block; font-size: 15px; font-family: arial; margin-left: 15px; margin-top: 30px;
    display: inline-block;">
		<span style="font-weight: bold;">What is a Host?</span>
		<p style="margin-bottom: 6px;">A host is a computer that uses virtualization software, such 
		<br>as ESX or ESXi, to run virtual machines. Host provides the 
		<br>CPU and memory resources that virtual machines use and 
		<br>give virtual machine accsess to storage and network 
		<br>connectivity.</p>
		<p style="margin-top: 8px; margin-bottom: 6px;">Create you own scripts to automate you activity in host.</p>
		</span>
		<span style="margin-left: 40px;"><img src="{% static "img/scheme.png" %}" id="image"></span>
	</div>
</div>
{% endblock %}

{% block recent-tasks %}
{% for i in result %}
<p>{{ i }}</p>
{% endfor %}
{% endblock %}
